<h3>Upload more Exam</h3>
<form enctype="multipart/form-data" asp-action="UploadExam" asp-controller="Teacher">
    Select File: <input type="file" name="myfile" />
    <br />
    <button>Submit</button>
</form>