
<table class="table">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            if (@ViewBag.StudentList != null)
                @foreach (var s in @ViewBag.StudentList)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@s.Studentname</td>
                        <td>__</td>
                    </tr>
                }
        }
    </tbody>
</table>
