@{
    Layout = null;
}
<div class="collapse" id="collapseExample" style="border: none;padding: 0 20%;">
    <div class="card card-body" style="border: none;">
        @* <partial name="_ExamBank" />*@
        <div class="text-left">
            <h2 style="margin-bottom:50px">Upload More Exam</h2>

            <!-- In order to post files to server we should use form with post method, also need to add multipart/form-data encoding.
                 Otherwise the files will not sent to the server. -->

            <div id="frmExamBank" enctype="multipart/form-data">
                Select Exam:
                <input type="file" id="fileDe" name="fileDe" multiple />
                Select TestCase:
                <input type="file" id="fileTest" name="fileTest" multiple />
                <button onclick="submitFiles()">Upload</button>
            </div>
            <!-- To show the success message to the user  -->
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> @ViewBag.Message
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>