@{
    Layout = "_TeacherMenu";
}
<div class="row">
    <div class="leftcolumn" style="margin=100px;">
        <div class="card">
            <h4>Manage Exam Bank</h4>
            <partial name="_ClassName" />
        </div>
    </div>
</div>