@{
    Layout = "_Layout";
}
 <link rel="stylesheet" href="/css/Teacher.css" media="screen">
 <link rel="stylesheet" href="/css/Form.css" media="screen">


<section class="u-align-center u-clearfix u-palette-2-dark-1 u-section-1" id="carousel_d3ce">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-right u-tabs u-tabs-1">
          <ul class="u-spacing-15 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-white u-button-style u-custom-font u-heading-font u-tab-link u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">class</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-white u-button-style u-custom-font u-heading-font u-tab-link u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false"> exam bank</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-white u-button-style u-custom-font u-heading-font u-tab-link u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false"> Exam pending</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-white u-button-style u-custom-font u-heading-font u-tab-link u-tab-link-4" id="link-tab-fa2d" href="#tab-fa2d" role="tab" aria-controls="tab-fa2d" aria-selected="false"> Exam result </a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-align-left u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-table u-table-responsive u-table-1">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="32.2%">
                      <col width="67.8%">
                    </colgroup>
                    <thead class="u-align-center u-table-header u-table-header-1">
                      <tr style="height: 49px;">
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-1">Student ID</th>
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-2">Student Name</th>
                      </tr>
                    </thead>
                    <tbody class="u-align-center u-table-body">
                      <tr style="height: 67px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">1</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell" spellcheck="false">Trần Ngọc Hiếu</td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
                  <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-border-4 u-border-grey-75 u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-palette-1-base" href="#" style="background-image: none;">
                      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52.966 52.966" style=""><use xlink:href="#svg-5c69"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 52.966 52.966" x="0px" y="0px" id="svg-5c69" style="enable-background:new 0 0 52.966 52.966;"><circle style="fill:#57ABC1;" cx="21.983" cy="21" r="20"></circle><line style="fill:none;stroke:#556080;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="35.437" y1="35.798" x2="50.983" y2="51.966"></line><path style="fill:#7CCBD8;" d="M3.002,27.253c0.848,2.582,2.24,5.018,4.167,7.146L35.382,6.186
	c-2.129-1.928-4.564-3.319-7.146-4.167L3.002,27.253z"></path><path style="fill:#556080;" d="M21.983,42c-11.58,0-21-9.42-21-21s9.42-21,21-21s21,9.42,21,21S33.562,42,21.983,42z M21.983,2
	c-10.477,0-19,8.523-19,19s8.523,19,19,19s19-8.523,19-19S32.459,2,21.983,2z"></path></svg>
                    </a>
                  </div>
                  <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 10px 0px;">Class Name</a><div class="u-nav-popup"><ul class="u-h-spacing-25 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">SE1512</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">SE1518</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Add more form Data Base</a>
</li></ul>
</div>
</li></ul>
                  </div>
                  <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                      <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-left u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 0px;">Class Name</a><div class="u-nav-popup"><ul class="u-h-spacing-25 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">SE1512</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">SE1518</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Add more form Data Base</a>
</li></ul>
</div>
</li></ul>
                      </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                  </div>
                </nav>
                <h6 class="u-text u-text-default u-text-1">Lớp có ? sinh viên</h6>
                <div class="u-form u-form-1">
                  <form action="https://nicepage.com/editor/Forms/Process" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                    <input type="hidden" id="siteId" name="siteId" value="1531132">
                    <input type="hidden" id="pageId" name="pageId" value="1538070">
                    <div class="u-form-group u-form-select u-form-group-1">
                      <label for="select-0641" class="u-label">Exam</label>
                      <div class="u-form-select-wrapper">
                        <select id="select-0641" name="exam" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required" autofocus="autofocus">
                          <option value="Item 1">Item 1</option>
                          <option value="Item 2">Item 2</option>
                          <option value="Item 3">Item 3</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>
                    </div>
                    <div class="u-form-group u-form-name">
                      <label for="name-ba83" class="u-label">Time Start</label>
                      <input type="text" placeholder="hh:mm:ss" id="name-ba83" name="start" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-ba83" class="u-label">Time End</label>
                      <input type="email" placeholder="hh:mm:ss" id="email-ba83" name="end" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" autofocus="autofocus">
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-5 u-hover-palette-1-dark-3 u-btn-1" style="color: #ffffff !important;background-color: #40bb25 !important;">Add Exam</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
              <div class="u-container-layout u-container-layout-2">
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-5 u-hover-palette-1-dark-3 u-btn-2" style="color: #ffffff !important;background-color: #40bb25 !important;">ADD Exam</a>
                <ul class="u-custom-list u-indent-0 u-spacing-55 u-text u-text-2">
                  <li>
                    <div class="u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-c4d3"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>
                    <a href="https://nicepage.com/c/sports-website-templates" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3">Sample Item 1</a>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-c4d3"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>
                    <a href="https://nicepage.com/k/hospital-website-templates" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4">Sample Item 2</a>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-c4d3"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Sample Item 3
                  </li>
                </ul>
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-btn-5">DELETE</a>
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-btn-6">DELETE</a>
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-btn-7">DELETE</a>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
              <div class="u-container-layout u-container-layout-3">
                <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-2">
                  <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 1px 0px; font-size: calc(1em + 2px);">
                      <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#svg-5804"></use></svg>
                      <svg class="u-svg-content" version="1.1" id="svg-5804" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
                    </a>
                  </div>
                  <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-30 u-unstyled u-nav-5"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 10px 0px;">Class Name</a>
</li></ul>
                  </div>
                  <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                      <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-6"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Class Name</a>
</li></ul>
                      </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                  </div>
                </nav>
                <div class="u-table u-table-responsive u-table-2">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="24.7%">
                      <col width="44.5%">
                      <col width="30.800000000000004%">
                    </colgroup>
                    <thead class="u-align-center u-table-header u-table-header-2">
                      <tr style="height: 49px;">
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-31">Student ID</th>
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-32">Student Name</th>
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-33">Status</th>
                      </tr>
                    </thead>
                    <tbody class="u-align-center u-table-body">
                      <tr style="height: 72px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell" spellcheck="false">1</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Trần Ngọc Hiếu</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">Submitted/Not yet</td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 63px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 64px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p class="u-text u-text-3" spellcheck="true">Exam ID: X<br>Start Time: hh:mm:ss<br>End Time: hh:mm:ss<br>
                  <br>
                </p>
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-btn-8">DELETE</a>
                <a href="#EditExam" class="u-border-none u-btn u-button-style u-custom-color-5 u-dialog-link u-hover-palette-1-dark-3 u-btn-9" title="EDIT" style="color: #ffffff !important;background-color: #40bb25 !important;">EDIT</a>
                <a href="https://nicepage.online" class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-btn-10"> Automark</a>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="tab-fa2d" role="tabpanel" aria-labelledby="link-tab-fa2d">
              <div class="u-container-layout u-container-layout-4">
                <div class="u-table u-table-responsive u-table-3">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="25.4%">
                      <col width="53.2%">
                      <col width="21.40000000000001%">
                    </colgroup>
                    <thead class="u-align-center u-table-header u-table-header-3">
                      <tr style="height: 49px;">
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-76">Student ID</th>
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-77">Student Name</th>
                        <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-78">Score</th>
                      </tr>
                    </thead>
                    <tbody class="u-align-center u-table-body">
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">HE153199</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell" spellcheck="false">Trần Ngọc Hiếu</td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell">10</td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                      <tr style="height: 66px;">
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-3">
                  <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color-1 u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
                      <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#svg-b82c"></use></svg>
                      <svg class="u-svg-content" version="1.1" id="svg-b82c" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
                    </a>
                  </div>
                  <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-30 u-unstyled u-nav-7"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 8px 12px 8px 14px;">Class Name</a>
</li></ul>
                  </div>
                  <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                      <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-8"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="#">Class Name</a>
</li></ul>
                      </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-4" id="EditExam">
      <div class="u-align-center u-container-style u-dialog u-white u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <div class="u-form u-form-1">
            <form action="https://nicepage.com/editor/Forms/Process" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
              <input type="hidden" id="siteId" name="siteId" value="1531132">
              <input type="hidden" id="pageId" name="pageId" value="1538070">
              <div class="u-form-group u-form-select u-form-group-1">
                <label for="select-0641" class="u-label">Exam</label>
                <div class="u-form-select-wrapper">
                  <select id="select-0641" name="exam" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required" autofocus="autofocus">
                    <option value="Item 1">Item 1</option>
                    <option value="Item 2">Item 2</option>
                    <option value="Item 3">Item 3</option>
                  </select>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                </div>
              </div>
              <div class="u-form-group u-form-name">
                <label for="name-ba83" class="u-label">Time Start</label>
                <input type="text" placeholder="hh:mm:ss" id="name-ba83" name="start" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
              </div>
              <div class="u-form-email u-form-group">
                <label for="email-ba83" class="u-label">Time End</label>
                <input type="text" placeholder="hh:mm:ss" id="email-ba83" name="end" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" autofocus="autofocus">
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-5 u-hover-palette-1-dark-3 u-btn-1" style="color: #ffffff !important;background-color: #40bb25 !important;">SAVE</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
              <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
              <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
              <input type="hidden" value="" name="recaptchaResponse">
            </form>
          </div>
        </div><button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style=""><use xlink:href="#svg-5801"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg></button>
      </div>
    </section>
    
    