@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_TeacherMenu";
}
@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");

}
<h2 style="margin:150px 300px;">Welcome @username. Let's add more exam schedule!</h2>