 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-countdown-1 {
  margin: 103px auto 0;
  padding: 52px 78px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-1 {
  margin: 49px 49px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 153px auto 0 74px;
}

.u-section-1 .u-text-2 {
  margin: 49px auto 0 74px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 60px 74px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}