
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 45%;
    padding-left: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 55%;
    padding-left: 10px;
}

/* Add a card effect for articles */
.cards {
    background-color: white;
    padding: 20px;
    margin: 40px 20px;
    
}


.u-section-1 {
    background-image: none;
}

    .u-section-1 .u-sheet-1 {
    }

    .u-section-1 .u-tabs-1 {
        min-height: 800px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .u-section-1 .u-tab-link-1 {
        display: block;
        font-size: 1.125rem;
        background-image: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 25px;
        color: #ffffff;
    }

    .u-section-1 .u-tab-link-2 {
        display: block;
        font-size: 1.125rem;
        background-image: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 25px;
        color: #ffffff;
    }

    .u-section-1 .u-tab-link-3 {
        display: block;
        font-size: 1.125rem;
        background-image: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 25px;
        color: #ffffff;
    }

    .u-section-1 .u-tab-link-4 {
        display: block;
        font-size: 1.125rem;
        background-image: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 25px;
        color: #ffffff;
    }

    .u-section-1 .u-tab-pane-1 {
        background-image: none;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 0 0 30px;
    }

    .u-section-1 .u-table-1 {
        width: 622px;
        margin: 112px 87px 0 auto;
    }

.u-block-ca26-52 {
    border-style: solid;
}

.u-section-1 .u-table-header-1 {
    font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
    border-style: solid;
}

.u-section-1 .u-table-cell-2 {
    border-style: solid;
}

.u-block-ca26-72 {
    height: 46px;
}

.u-section-1 .u-menu-1 {
    margin: -974px auto 0 87px;
}

.u-section-1 .u-nav-1 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-section-1 .u-nav-3 {
    font-size: 1.25rem;
}

.u-section-1 .u-text-1 {
    margin: 43px auto 0 87px;
}

.u-section-1 .u-form-1 {
    margin: auto 70px;
}

.u-section-1 .u-form-group-1 {
    margin-left: 0;
}

.u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    border-style: none;
}

.u-section-1 .u-tab-pane-2 {
    background-image: none;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 95px auto 0 131px;
}

.u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin: 51px 528px 0 234px;
}

.u-section-1 .u-btn-3 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-btn-4 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-btn-5 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -225px 492px 0 auto;
    padding: 5px 9px 6px 7px;
}

.u-section-1 .u-btn-6 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 63px 492px 0 auto;
    padding: 5px 9px 6px 7px;
}

.u-section-1 .u-btn-7 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 63px 492px 0 auto;
    padding: 5px 9px 6px 7px;
}

.u-section-1 .u-tab-pane-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 14px;
}

.u-section-1 .u-menu-2 {
    margin: 62px auto 0 73px;
}

.u-section-1 .u-nav-5 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-section-1 .u-nav-6 {
    font-size: 1.25rem;
}

.u-section-1 .u-table-2 {
    width: 562px;
    margin: -38px 62px 0 auto;
}

.u-block-ca26-184 {
    border-style: solid;
}

.u-section-1 .u-table-header-2 {
    font-weight: 700;
}

.u-section-1 .u-table-cell-31 {
    border-style: solid;
}

.u-section-1 .u-table-cell-32 {
    border-style: solid;
}

.u-section-1 .u-table-cell-33 {
    border-style: solid;
}

.u-block-ca26-236 {
    height: 46px;
}

.u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin: -868px 783px 0 73px;
}

.u-section-1 .u-btn-8 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 45px auto 0 208px;
    padding: 7px 12px 8px 11px;
}

.u-section-1 .u-btn-9 {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: none;
    border-style: none;
    margin: -37px auto 0 73px;
    padding: 7px 26px 8px 25px;
}

.u-section-1 .u-btn-10 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 91px auto 0 73px;
    padding: 10px 26px 11px 25px;
}

.u-section-1 .u-tab-pane-4 {
    background-image: none;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px 24px;
}

.u-section-1 .u-table-3 {
    width: 622px;
    margin: 40px 120px 0 auto;
}

.u-block-ca26-116 {
    border-style: solid;
}

.u-section-1 .u-table-header-3 {
    font-weight: 700;
}

.u-section-1 .u-table-cell-76 {
    border-style: solid;
}

.u-section-1 .u-table-cell-77 {
    border-style: solid;
}

.u-section-1 .u-table-cell-78 {
    border-style: solid;
}

.u-block-ca26-168 {
    height: 46px;
}

.u-section-1 .u-menu-3 {
    margin: -972px auto 0 68px;
}

.u-section-1 .u-nav-7 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-section-1 .u-nav-8 {
    font-size: 1.25rem;
}

@media (max-width: 1199px) {
    .u-section-1 .u-tabs-1 {
        height: auto;
    }

    .u-section-1 .u-form-1 {
        margin-right: 616px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-1 .u-text-2 {
        margin-right: 408px;
        margin-left: 114px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 252px;
    }

    .u-section-1 .u-btn-6 {
        margin-right: 252px;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 252px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 616px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-9 {
        margin-left: 0;
    }

    .u-section-1 .u-btn-10 {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-form-1 {
        margin-right: 436px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 318px;
        margin-left: 24px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 72px;
    }

    .u-section-1 .u-btn-6 {
        margin-right: 72px;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 72px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 436px;
    }

    .u-section-1 .u-table-3 {
        margin-right: 51px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-table-1 {
        width: 540px;
        margin-right: 0;
    }

    .u-section-1 .u-form-1 {
        margin-right: 256px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 202px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-6 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-7 {
        margin-right: 0;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-table-2 {
        width: 520px;
        margin-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-right: 265px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-table-3 {
        width: 520px;
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-table-1 {
        width: 340px;
    }

    .u-section-1 .u-form-1 {
        margin-right: 56px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 2px;
    }

    .u-section-1 .u-table-2 {
        width: 320px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 65px;
    }

    .u-section-1 .u-table-3 {
        width: 320px;
    }
}
