@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Student Page";
}
<link rel="stylesheet" href="/css/Student.css" media="screen">
<section class="u-align-center u-clearfix u-white u-section-1" src="" id="sec-328b" style="margin-bottom:200px">
        <h2 class="u-large-text u-text u-text-variant u-text-1" style="margin-bottom:50px">
            List exam for students:
        </h2>
        <table class="table table-striped">
            @{
                if (ViewBag.Exam_List != null)
                {
                    <tr>
                            <td>Exam ID</td>
                            <td>Exam Name</td>
                    </tr>
                    foreach(Exam item in ViewBag.Exam_List)
                    {  
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <a asp-controller="Student" asp-action="StudentAction" asp-route-id="@item.Id">
                                    @item.Examname
                                </a>
                            </td>
                        </tr>
                    }
                }
                
            }
        </table>
</section>

