@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Page";
}
<link rel="stylesheet" href="/css/Student.css" media="screen">
<section class="u-align-center u-clearfix u-white u-section-1" src="" id="sec-328b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-countdown u-countdown-1" data-timer-id="2bd7" data-type="to-time" data-target-date="Mon, 07 Mar 2022 05:32:13 GMT" data-for="everyone" data-direction="down" data-time-left="750m" data-after-count="message" data-target-number="100" data-frequency="1s" data-start-time="Sun, 06 Mar 2022 17:02:10 GMT">
            <div class="u-countdown-wrapper u-spacing-20">
                <div class="u-countdown-item u-countdown-years u-hidden u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-1"><div class="u-countdown-number">0</div><div class="u-countdown-number u-hidden">0</div></div>
                    <div class="u-countdown-label u-countdown-label-1">Years</div>
                </div>
                <div class="u-countdown-separator u-hidden u-countdown-separator-1">:</div>
                <div class="u-countdown-days u-countdown-item u-hidden u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-2"><div class="u-countdown-number">0</div><div class="u-countdown-number u-hidden">6</div><div class="u-countdown-number u-hidden">0</div></div>
                    <div class="u-countdown-label u-countdown-label-2">Days</div>
                </div>
                <div class="u-countdown-separator u-hidden u-countdown-separator-2">:</div>
                <div class="u-countdown-hours u-countdown-item u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-3"><div class="u-countdown-number">1</div><div class="u-countdown-number">2</div></div>
                    <div class="u-countdown-label u-countdown-label-3">Hours</div>
                </div>
                <div class="u-countdown-separator u-countdown-separator-3">:</div>
                <div class="u-countdown-item u-countdown-minutes u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-4"><div class="u-countdown-number">2</div><div class="u-countdown-number">9</div></div>
                    <div class="u-countdown-label u-countdown-label-4">Minutes</div>
                </div>
                <div class="u-countdown-separator u-countdown-separator-4">:</div>
                <div class="u-countdown-item u-countdown-seconds u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-5"><div class="u-countdown-number">5</div><div class="u-countdown-number">9</div></div>
                    <div class="u-countdown-label u-countdown-label-5">Seconds</div>
                </div>
                <div class="u-countdown-separator u-hidden u-countdown-separator-5">:</div>
                <div class="u-countdown-item u-countdown-numbers u-hidden u-spacing-10">
                    <div class="u-countdown-counter u-countdown-counter-6"><div class="u-countdown-number">0</div><div class="u-countdown-number">1</div><div class="u-countdown-number">0</div><div class="u-countdown-number">0</div></div>
                    <div class="u-countdown-label u-countdown-label-6">Items</div>
                </div>
            </div>
            <div class="u-countdown-message u-hidden">
                <p>Sorry, the time is up.</p>
            </div>
        </div>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-1"> Please wait until the assignment time. Get resources, read questions carefully, and submit assignments on time.</p>
        <a href="#" class="u-border-none u-btn u-button-style u-hover-palette-1-dark-3 u-palette-2-base u-btn-1"> Take exam</a>
        <a href="#" class="u-border-none u-btn u-button-style u-hover-palette-1-dark-3 u-palette-2-base u-btn-2">submit</a>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2"> Submit successfully.&nbsp;Please wait for the results...</p>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-3">Result: X/X</p>
    </div>
</section>

