<div class="u-table u-table-responsive u-table-1">
    <table class="u-table-entity">
        <colgroup>
            <col width="32.2%">
            <col width="67.8%">
        </colgroup>
        <thead class="u-align-center u-table-header u-table-header-1">
            <tr style="height: 49px;">
                <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-1">Student ID</th>
                <th class="u-border-3 u-border-grey-dark-1 u-table-cell u-table-cell-2">Student Name</th>
            </tr>
        </thead>
        <tbody class="u-align-center u-table-body">
            <tr style="height: 67px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">1</td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell" spellcheck="false">Trần Ngọc Hiếu</td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 65px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 65px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
            <tr style="height: 66px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
            </tr>
        </tbody>
    </table>
</div>