@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/Teacher.css" media="screen">
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197" style="z-index: 2;">
  <ul class="nav navbar-nav">
    <li><a href="Class">CLASS</a></li>
    <li><a href="ExamBank">EXAM BANK</a></li>
    <li><a href="#">EXAM PENDING</a></li>
    <li><a href="#">EXAM RESULT</a></li>
  </ul>
</nav>

<div class="container-fluid" style="height:auto">
    @RenderBody()
</div>
